<ion-split-pane>

    <ion-menu [content]="content">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menü</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-list no-lines>
                <div *ngFor="let page of pages">
                    <button menuClose ion-item (click)="openPage($event, page)">
                        <ion-icon *ngIf="page.icon" [name]="page.icon" [color]="isActive(page)" item-start></ion-icon>
                        {{page.title}}
                    </button>

                    <ion-list no-lines no-margin margin-left>
                    <button menuClose ion-item *ngFor="let subPage of page?.subPages" (click)="openSubPage($event, subPage)">
                        <ion-icon *ngIf="subPage.icon" [name]="subPage.icon" item-start></ion-icon>
                        {{subPage.title}}
                    </button>
                    </ion-list>
                </div>

                <a ion-item href="http://www.github.com/tanzdervampire" target="_blank">
                    Github
                </a>
            </ion-list>
        </ion-content>

    </ion-menu>

    <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
