<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Vorstellungen</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="gotoShowSubmit($event)">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content (ionScroll)="onScroll($event)" no-bounce>
    <spinner *ngIf="!shows || shows.length === 0"></spinner>

    <div *ngFor="let monthSection of shows">
        <ion-item-group>
            <ion-item-divider>
                <h1>{{ monthSection.title }}</h1>
            </ion-item-divider>
        </ion-item-group>
        <ion-item-group *ngFor="let daySection of monthSection.items">
            <ion-item-divider color="light" sticky>
                <h2 item-start>{{ daySection.title }}</h2>
                <ion-note item-end>{{ daySection.weekday }}</ion-note>
            </ion-item-divider>

            <show-item
                *ngFor="let show of daySection.items"
                [show]="show"
                (click)="gotoShowDetail($event, show)"
            ></show-item>
        </ion-item-group>
    </div>

    <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab bottom right *ngIf="!showScrollToTop" [@fab]>
        <button ion-fab (click)="datePicker.open()">
            <ion-icon name="calendar"></ion-icon>
        </button>
    </ion-fab>

    <ion-fab bottom right *ngIf="showScrollToTop" [@fab]>
        <button ion-fab color="light" (click)="onScrollToTop($event)">
            <ion-icon name="ios-arrow-up"></ion-icon>
        </button>
    </ion-fab>

    <ion-datetime
        #datePicker
        hidden
        [(ngModel)]="selectedDate"
        displayFormat="DD. MMMM YYYY"
        min="1997-10-04"
        [max]="maxDate"
        (ionChange)="onDatePickerChange($event)"
        cancelText="Abbrechen"
        doneText="OK"
    ></ion-datetime>
</ion-content>
