<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Vorstellungen</ion-title>

        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>

    <spinner *ngIf="!shows"></spinner>

    <div *ngFor="let monthSection of shows">
        <ion-item-group>
            <ion-item-divider>
                <h1>{{ monthSection.title }}</h1>
            </ion-item-divider>
        </ion-item-group>
        <ion-item-group *ngFor="let daySection of monthSection.items">
            <ion-item-divider color="light">
                <h2 item-start>{{ daySection.title }}</h2>
                <ion-note item-end>{{ daySection.weekday }}</ion-note>
            </ion-item-divider>

            <button ion-item *ngFor="let show of daySection.items" (click)="gotoShowDetail(show)">
                <ion-avatar item-start>
                    <ion-text-avatar>{{ daySection.weekday.substr(0, 2) }}</ion-text-avatar>
                </ion-avatar>

                <h2>{{ show.formattedTime }} Uhr</h2>
                <p>{{ show.theater }}, {{ show.location }}</p>
                <p>{{ show.castPreview }}</p>
            </button>
        </ion-item-group>
    </div>

    <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab bottom right>
        <button ion-fab>
            <ion-icon name="calendar"></ion-icon>
        </button>
    </ion-fab>

</ion-content>
