<ion-header>
    <ion-navbar>
        <ion-title>Vorstellung</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="gotoEditShow($event)" *ngIf="show">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <show-header [show]="show" *ngIf="show"></show-header>
</ion-header>

<ion-content (ionScroll)="onScroll($event)" no-bounce>
    <spinner *ngIf="!show"></spinner>

    <cast-list [cast]="show.cast" *ngIf="show"></cast-list>

    <ion-fab bottom right *ngIf="showScrollToTop" [@fab]>
        <button ion-fab color="light" (click)="onScrollToTop($event)">
            <ion-icon name="ios-arrow-up"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
