<ion-header>
    <ion-navbar *ngIf="!showSearchBar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Darsteller</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="onAddNewPerson($event)" hidden>
                <ion-icon name="add"></ion-icon>
            </button>

            <button ion-button icon-only (click)="onShowFilter($event)">
                <ion-icon name="options"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar color="primary" no-border-top *ngIf="showSearchBar">
        <ion-searchbar
            auto-focus
            color="primary"
            placeholder="Suchen"
            [(ngModel)]="searchText"
            (ionInput)="updateActors()"
            (ionCancel)="toggleSearchBar(false)"
            (ionBlur)="onSearchBarBlur()"
            showCancelButton="true"
            cancelButtonText="Abbrechen"
            spellcheck="false"
            [@toggleSearchBar]
        ></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content no-bounce>
    <ion-refresher (ionRefresh)="updateActors($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <spinner *ngIf="!actors"></spinner>

    <ion-list-header *ngIf="actors && actors.length === 0">
        Kein Darsteller mit diesem Namen gefunden
    </ion-list-header>

    <ion-list no-lines>
        <button ion-item *ngFor="let actor of actors">
            <h2>{{ actor.name }}</h2>
            <p>{{ actor.roles.join(', ') }}</p>
        </button>
    </ion-list>

    <ion-fab bottom right>
        <button ion-fab (click)="toggleSearchBar($event)">
            <ion-icon name="search"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
