<ion-header>
    <ion-toolbar no-border>
        <ion-buttons left>
            <!-- TODO Confirmation -->
            <button ion-button navPop icon-only>
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>{{ roles[roleIndex] }}</ion-title>

        <ion-buttons right>
            <button ion-button clear *ngIf="roleIndex > 0" (click)="gotoPreviousRole()">Zurück</button>
            <button ion-button clear [disabled]="roleIndex === roles.length - 1" (click)="gotoNextRole()">Weiter</button>
        </ion-buttons>
    </ion-toolbar>

    <ion-toolbar no-border>
        <ion-searchbar
            auto-focus
            placeholder="Suchen"
            showCancelButton="true"
            spellcheck="false"
            [(ngModel)]="searchText"
            (ionInput)="updateCurrentSuggestions()"
            (search)="onSearch($event)"
        ></ion-searchbar>
    </ion-toolbar>

    <ion-toolbar no-border color="light" *ngIf="cast[roleIndex] && cast[roleIndex].length > 0">
        <ion-chip *ngFor="let actor of cast[roleIndex]">
            <ion-avatar>
                <ion-text-avatar color="secondary">{{ actor.name.charAt(0).toUpperCase() }}</ion-text-avatar>
            </ion-avatar>
            <ion-label>{{ actor.name.split(' ').pop() }}</ion-label>
            <button ion-button clear color="dark" (click)="toggleActor(actor)">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-chip>
    </ion-toolbar>
</ion-header>

<ion-content>
    <spinner *ngIf="!suggestions"></spinner>

    <div *ngIf="currentSuggestions">
        <ion-list-header *ngIf="currentSuggestions.length === 0 && searchText?.length > 0">
            Kein Darsteller mit diesem Namen gefunden.
        </ion-list-header>

        <ion-list *ngIf="currentSuggestions">
            <ion-item *ngFor="let actor of currentSuggestions" (click)="toggleActor(actor)">
                <h2>{{ actor.name }}</h2>
            </ion-item>
        </ion-list>
    </div>

    <ion-fab bottom right *ngIf="roleIndex === roles.length - 1">
        <button ion-fab>
            <ion-icon name="send"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
