<ion-header>
    <ion-toolbar no-border>
        <ion-buttons left>
            <button ion-button icon-only (click)="requestNavPop($event)">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>{{ roles[roleIndex] }}</ion-title>

        <ion-buttons right>
            <button ion-button clear *ngIf="roleIndex > 0" (click)="gotoPreviousRole($event)">Zurück</button>
            <button ion-button clear [disabled]="roleIndex === roles.length - 1" (click)="gotoNextRole($event)">Weiter</button>
        </ion-buttons>
    </ion-toolbar>

    <ion-toolbar no-border>
        <ion-searchbar
            placeholder="Suchen"
            showCancelButton="true"
            cancelButtonText="Abbrechen"
            spellcheck="false"
            [(ngModel)]="searchText"
            (ionInput)="updateFilter()"
            (search)="onSearch($event)"
        ></ion-searchbar>
    </ion-toolbar>

    <ion-toolbar no-border color="light" *ngIf="cast[roleIndex] && cast[roleIndex].length > 0">
        <ion-chip *ngFor="let actor of cast[roleIndex]">
            <ion-avatar>
                <ion-text-avatar color="secondary">{{ actor.name.charAt(0).toUpperCase() }}</ion-text-avatar>
            </ion-avatar>
            <ion-label>{{ actor.name.split(' ').pop() }}</ion-label>
            <button ion-button clear color="dark" (click)="toggleActor($event, actor)">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-chip>
    </ion-toolbar>
</ion-header>

<ion-content no-bounce>
    <spinner *ngIf="!actors"></spinner>

    <ion-item-group *ngIf="showSuggestionsList()">
        <ion-item-divider>
            <ion-icon item-start name="star" color="secondary"></ion-icon>
            Vorgeschlagen
        </ion-item-divider>
        <ion-item *ngFor="let actor of filteredSuggestions" (click)="toggleActor($event, actor)">
            <h2>{{ actor.name }}</h2>
        </ion-item>
    </ion-item-group>

    <div *ngIf="actors">
        <ion-list-header *ngIf="showEmptyFilterResultHeader()">
            Kein Darsteller mit diesem Namen gefunden.
        </ion-list-header>

        <ion-item-group>
            <ion-item-divider *ngIf="showActorsHeader()">
                <ion-icon item-start name="people" color="secondary"></ion-icon>
                Personen
            </ion-item-divider>

            <ion-item *ngFor="let actor of filteredActors" (click)="toggleActor($event, actor)">
                <h2>{{ actor.name }}</h2>
                <ion-badge *ngIf="showRoleBadge(actor)" color="light" item-end>{{ actor.roles[0] }}</ion-badge>
            </ion-item>
        </ion-item-group>
    </div>

    <ion-fab bottom right *ngIf="roleIndex === roles.length - 1">
        <button ion-fab (click)="submitShow($event)">
            <ion-icon name="send"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
