<ion-header>
    <ion-navbar>
        <ion-title>{{ formatDate() }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-bounce>
    <spinner *ngIf="!shows"></spinner>

    <ion-list-header *ngIf="shows && shows.length === 0">
        Für diesen Tag liegt leider kein Eintrag vor.
    </ion-list-header>

    <ion-list *ngIf="shows">
        <show-item
            *ngFor="let show of shows"
            [show]="show"
            (click)="gotoShowDetail(show)"
        ></show-item>
    </ion-list>
</ion-content>
